@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}
p {
   color: #5c728e;
   font-size: 16px;
}
