@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: "Inter", sans-serif !important;
}
p {
   color: #5c728e;
   font-size: 16px;
}
a:hover,
a:focus {
   text-decoration: none !important;
   color: inherit !important;
}
